@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 4% 10%;
    --foreground: 98 46% 83%;
    --white: 180 31% 94%;
    --card: 180 4% 10%;
    --card-foreground: 98 46% 83%;
    --popover: 180 4% 10%;
    --popover-foreground: 98 46% 83%;
    --primary: 98 46% 83%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 98 46% 83%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 98 46% 83%;
    --destructive: 4 90% 58%;
    --destructive-foreground: 98 46% 83%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 180 4% 10%;
    --foreground: 98 46% 83%;
    --white: 180 31% 94%;
    --card: 180 4% 10%;
    --card-foreground: 98 46% 83%;
    --popover: 180 4% 10%;
    --popover-foreground: 98 46% 83%;
    --primary: 98 46% 83%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 98 46% 83%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 98 46% 83%;
    --destructive: 4 90% 58%;
    --destructive-foreground: 98 46% 83%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
